* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body{
  background-color:#f5ffff;
}

.banner{
  margin-top : 2%;
}

.title{
  text-align: center;
  font-family : 'Lato';
  font-weight : 800;
  letter-spacing: 0.7em;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #07646b;
  cursor: pointer;
  transition : 0.6s background-color;
}

button:hover{
  background : #0a8b94;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(30, 90, 102) 0%,
    rgba(27, 138, 138, 0.9) 59%,
    rgba(17, 124, 101, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer h2 {
  text-align: center;
  color : #e0e0e0;
  margin-bottom: 10%;
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 18px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(185, 185, 185);
  outline: none;
  font-size: 19px;
  padding: 10px;
  background:transparent;
  color: #fff;
  letter-spacing: 1px;
  transition : 0.2s border-bottom;
}

.login .loginContainer input:focus{
  border-bottom: 1px solid white;
}


.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  min-height: 100vh;
  background:#f5ffff;
  
}

.hero .navbar{
  display : flex;
  width : 100%;
  background-color: rgb(190, 243, 250);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  margin-top : 2%;
}

.hero .navbar nav  {
  width : 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.hero nav a{
  color : black;
  margin-right:20px;
  transition : border-bottom 0.2s;
}

.hero nav a:hover{
  cursor : pointer;
  border-bottom: 1px solid black;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  color : black;
  background : transparent;
  transition : 0.6s border-bottom;
}

.hero nav button:hover{
  border-bottom : 1px solid black;
}

#type{
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom : 1px solid rgb(185, 185, 185);
  color : white;
}

.loader {
  color: rgba(17, 124, 101, 0.9);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.MuiAppBar-root{
  font-family: 'Lato' !important;
  background-color: #ade9f7  !important;
  color : black !important;
  font-weight : 200 !important; 
}

Link{
  margin-right: 5%;
}

.details_grid{
  height : 100px;
  border : 1px solid #b8b8b8;
  background: #edf9ff;
  box-shadow: 0 10px 10px -6px rgba(197, 196, 196, 0.8);
}

.MuiTypography-root{
  font-family: 'Lato' !important;
}

.homepage-section{
  margin-bottom : 20px;
}

.ongoing-orders-details{
  margin-top : 20px;
}

.border {
  width : 30%; 
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2%;
  height : 1px;
  background: linear-gradient(90deg, hsl(0, 0%, 80%), hsl(0, 0%, 20%), hsl(0, 0%, 80%));
}

.section-title{
  margin-top: 2%;
}

#card2:hover{
  cursor:pointer;
}